body{
    margin: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
    background-color: rgb(1, 1, 43);
    background-attachment: fixed;
}

.container{
    width: 100%;
    align-items: center;
}

.todo{
    width: 100%;
    max-width: 540px;
    margin-top: 200px;
    margin-left: 450px;
    padding: 30px 30px 50px 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.todo h2{
    align-items: left;
    justify-content: left;
    display: flex;
}

.todo h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    flex: 1;
    background: transparent;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(189, 216, 239);
    border-radius: 30px;
    font-size: 14px;
}

button{
    border: none;
    outline: none;
    padding: 10px;
    background-color:darkcyan ;
    color: black;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

ul li{
    list-style: none; /*if we use disc gives bullet points*/
    font-size: 15px;
    padding: 10px 8px 12px 50px; /*10-top, 15left right,12-bottom(10 15 12) & padding of 4 in the order top:right:bottom:left*/
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li:hover{
    background: rgb(203, 244, 244);
    border-radius: 30px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 5px;
    border-radius: 50%;
}

.checked{
    color: black;
    text-decoration: line-through;/*striking a text*/
}

.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: blue;
    line-height: 30px;
    text-align: center;
}

ul li span:hover{
    background: bisque;
    border-radius: 30px;
}